@import 'reset';
@import 'fonts.scss';
@import 'global';
@import 'reset';
@import 'libs';
@import 'vars';

// .promo__marquee {
// 	position: absolute;
// 	bottom: 35px;
// 	left: 0;
// 	z-index: 1;
// 	overflow: hidden;
// 	.promo__marquee-inner {
// 		display: flex;
// 	}
// 	.promo__marquee-text {
// 		font-size: 30px;
// 		color: #e8e8e8;
// 		white-space: nowrap;
// 		flex-shrink: 0;
// 		padding: 0 3px;
// 		animation: promo__marquee 15s linear infinite;
// 	}
// }

// @keyframes promo__marquee {
// 	0% {
// 		transform: translateZ(0%);
// 	}
// 	100% {
// 		transform: translate3d(-100%, 0, 0);
// 	}
// }

//accordion

.faq__accordion {
	margin: auto 100px auto auto;
	max-width: 406px;
	height: 550px;
}

.faq__accordion-item {
	list-style: none;
	width: 100%;
	margin-bottom: 20px;
	color: #e8e8e8;
}

.faq__quetion {
	font-size: 24px;
	color: #581633;
	display: flex;
	align-items: start;
	justify-content: space-between;
	font-weight: 600;
	cursor: pointer;
	padding-bottom: 10px;
	position: relative;
}

.faq__content {
	background: #581633;
	border-radius: 0px 0px 10px 10px;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s;
}

.faq__text {
	padding: 15px;
}

.faq__quetion span {
	padding-top: 7px;
}

.faq__quetion + input[type='radio'] {
	display: none;
}

.faq__quetion + input[type='radio']:checked + .faq__content {
	max-height: 400px;
}

.faq__quetion::before {
	content: '';
	width: 100%;
	height: 3px;
	background: #000;
	position: absolute;
	bottom: -1px;
	left: 0;
	background-color: #581633;
	border-radius: 5px;
}

.faq__quetion:hover {
	font-size: 26px;
}
//marquee

:root {
	--height: 100px;
	--speed: 30s;
}
.promo__marquee {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #581633;
	display: flex;
	width: 100%;
	overflow: hidden;
	height: var(--height);
	padding-left: 100%;
	.promo__marquee-inner {
		height: var(--height);
		line-height: var(--height);
		white-space: nowrap;
		padding-right: 100%;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-webkit-animation-name: promo__marquee-inner;
		-webkit-animation-duration: var(--speed);

		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-name: promo__marquee-inner;
		animation-duration: var(--speed);
	}
	.promo__marquee-text {
		display: inline-block;
		font-size: 30px;
		color: #e8e8e8;
		padding: 0 3px;
	}
}

@-webkit-keyframes promo__marquee-inner {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@keyframes promo__marquee-inner {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

//header

.header {
	padding-top: 50px;
	position: fixed;
	z-index: 3;
	left: 0;
	right: 0;
	transition: all 0.3s ease;
}

.header-nav--active {
	padding-top: 25px;
	transition: all 0.3s ease;
	background-color: rgba(248, 235, 206, 0.5);
	padding-bottom: 25px;
	border-bottom: 1px solid #581633;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	.header__list {
		display: flex;
	}
	.header__list-lang {
		display: -webkit-inline-box;
	}
	.header__list {
		gap: 50px;
	}
	.header__list-lang {
		gap: 4px;
	}
	.header__btn {
		cursor: pointer;
		color: #f8ebce;
		padding: 10px 40px;
		background-color: $title;
		border-radius: 10px;
		&:hover {
			background-color: #861f4c;
		}
		&:active {
			background-color: #bb092e;
			box-shadow: 0px 0px 40px rgba(187, 9, 46, 0.2);
		}
	}
	.header__link {
		color: $title;
		cursor: pointer;
		&:hover {
			color: #861f4c;
		}
		&:active {
			color: #bb092e;
		}
	}
	.translate {
		background-color: transparent;
		border: none;
		cursor: pointer;
		color: $title;
		position: relative;
		padding: 2px;
		margin: 0;
	}
	.translate--active {
		background-color: $title;
		color: #f8ebce;
		border-radius: 3px;
	}
	.header__lang-ru {
		&::after {
			content: '/';
			color: $title;
			margin: 4px;
		}
	}
	.header__lang-by {
		&::after {
			content: '/';
			color: $title;
			margin: 4px;
		}
	}
}

//promo

.promo {
	position: relative;
	// &::after {
	// 	content: '';
	// 	display: block;
	// 	background-color: $title;
	// 	width: 100%;
	// 	height: 101px;
	// 	position: absolute;
	// 	bottom: 0;
	// }
}

.promo {
	padding-top: 101px;
	padding-bottom: 11%;
	background-image: url(@img/bg.png);
	background-repeat: no-repeat;
	background-position: right;
	background-position-y: -10%;
	&__title {
		font-family: Futura, sans-serif;
		font-weight: 600;
		color: $title;
		font-size: 100px;
		max-width: 810px;
		margin: 0 auto 0 0;
		margin-bottom: 66px;
	}
	&__bottom {
		display: flex;
		gap: 30px;
		margin-bottom: auto;
	}
	&__subtitle {
		color: #bb092e;
		font-size: 60px;
	}
	&__btn {
		font-size: 30px;
		color: #f8ebce;
		padding: 10px 40px;
		background: linear-gradient(89.19deg, #581633 8.29%, #bb092e 77.41%);
		box-shadow: 0px 0px 40px rgba(187, 9, 46, 0.8);
		border-radius: 15px;
		margin: auto 0;
	}
}

.promo__btn {
	&:hover {
		background: #bb092e;
	}
	&:active {
		box-shadow: 0px 0px 40px rgba(187, 9, 46, 1);
	}
}

// gallery

.gallery {
	padding-top: 70px;
	padding-bottom: 70px;
	background: url(@img/gallery-bg-3.png);
	background-position: center;
	background-size: cover;
	&__slider {
		margin-bottom: 50px;
	}
	&__slider-item {
		max-width: 340px;
		min-height: 600px;
		border-radius: 60px 60px 5px 5px;
		background-color: $title;
		padding: 15px;
		margin: 0 30px;
		position: relative;
	}
	&__slider-img {
		margin-bottom: 20px;
	}
	&__slider-title {
		color: #e8e8e8;
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	&__slider-year {
		font-size: 25px;
		color: #e8e8e8;
		margin-bottom: 10px;
	}
	&__slider-tagline {
		font-size: 25px;
		color: #e8e8e8;
	}
	&__slider-btn {
		position: absolute;
		padding: 10px 40px;
		background-color: #f8ebce;
		color: #581633;
		border-radius: 10px;
		cursor: pointer;
		bottom: 5%;
		left: 25%;
		box-shadow: 0px 0px 10px #f8ebce;
		&:hover {
			background: #bb092e;
			color: #f8ebce;
			box-shadow: 0px 0px 40px rgba(187, 9, 46, 0.4);
		}
		&:active {
			box-shadow: 0px 0px 40px rgba(187, 9, 46, 1);
		}
	}
	&__info {
		max-width: 505px;
		max-height: 59px;
		border-radius: 10px;
		background-color: $title;
		font-size: 16px;
		color: #e8e8e8;
		line-height: 17.73px;
		padding: 12px 18px;
	}
}

.title {
	font-size: 60px;
	color: $title;
	margin-bottom: 50px;
}

.slick-dots li.slick-active button {
	background-color: #bb092e;
}

.slick-dots button {
	cursor: pointer;
}

.slick-dots {
	margin-top: 41px;
}

//roadmap

.roadmap {
	padding-top: 70px;
	padding-bottom: 70px;
	background: url(@img/roadmap-bg-2.png);
	background-position: center;
	background-size: contain;
	box-shadow: inset 0px 100px 200px #f8ebce;
	&__items {
		margin-top: 80px;
		display: flex;
		flex-direction: column;
	}
	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 100px;
		gap: 20px;
	}
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
	&__item {
		position: relative;
		width: 400px;
		height: 200px;
		background-color: #581633;
		border-radius: 15px;
		padding: 30px 30px 26px 30px;
	}
	&__text {
		color: #e8e8e8;
		font-size: 16px;
		margin-top: 31px;
	}
	&__progress {
		color: #f8ebce;
		font-size: 24px;
		font-weight: 600;
		width: 140px;
		position: absolute;
		left: 34%;
		bottom: 15px;
	}
	&__number {
		position: absolute;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		color: #581633;
		background-color: #f8ebce;
		border: solid #581633 2px;
		font-size: 36px;
		font-weight: 600;
		align-items: center;
		padding: 16px 29px;
		top: -40px;
		left: 160px;
	}
}

//faq

.faq {
	padding-top: 70px;
	padding-bottom: 70px;
}
.faq__bg {
	background-image: url(@img/faq-bg2.png);
	background-repeat: no-repeat;
	background-size: contain;
}

//diploma

.diploma {
	padding-top: 70px;
	padding-bottom: 70px;
	background: url(@img/diploma-bg-2.png);
	background-position: center;
	background-size: cover;
	box-shadow: inset 0px 100px 200px #f8ebce;
	&__inner {
		margin-top: 100px;
		display: flex;
		justify-content: space-between;
		padding: 58px 35px;
		align-items: center;
		background-image: url(@img/diploma-in.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 100px;
	}
	&__text {
		max-width: 420px;
		font-size: 16px;
		color: #581633;
		font-weight: 600;
	}
	&__info {
		display: flex;
		margin: 0 auto;
		background-color: #581633;
		color: #e8e8e8;
		justify-content: space-around;
		align-items: center;
		max-width: 1000px;
		height: 100px;
		border-radius: 30px;
	}
	&__info-item {
		font-family: Futura Bold, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
	&__number {
		font-size: 45px;
		text-align: center;
	}
	&__info-te {
		font-size: 16px;
	}
}

//footer

.footer {
	padding-top: 14px;
	padding-bottom: 18px;
	background-color: #581633;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		font-size: 25px;
		color: #e8e8e8;
	}
}
